
@*<style>
    .icon-prev,
    .icon-next,
    .glyphicon-chevron-left,
    .glyphicon-chevron-right
    {
        position: absolute;
        top: 50%;
        margin-top: -10px; /* fix */
        z-index: 5;
        display: inline-block;
    }
</style>*@

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="3000" style="text-align:center;">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
	<li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

 <div class="item active">
       <a  target="_blank" href="https://dl.flipkart.com/dl/diwali-sale-tv-appliances-store?affid=sandeepmi3&affExtParam1=banner">
                <img src="~/Images/Carousel/flipkart_20161020.png" alt="Flipkart"></a>
        </div>
<div class="item">
            <a target="_blank" href="http://tracking.vcommission.com/aff_c?offer_id=22&aff_id=46159&source=gmed&url=http%3A%2F%2Fwww.myntra.com%2Fshop%2Fwomen%3Futm_source%3Dvcommission%26utm_medium%3Daffiliate">
                <img src="~/Images/Carousel/11477059788109-top-banner01.jpg" alt="Snapdeal"></a>           
        </div>
    <div class="item">
       <a  target="_blank" href="http://amzn.to/2em8xg9">
                <img src="~/Images/Carousel/1013959_GW-Superhero_gps._UX1500_SX1500_CB528153909_.jpg" alt="Flipkart"></a>
        </div>	      
	    <div class="item">
       <a  target="_blank" href="http://amzn.to/2ediYVc">
                <img src="~/Images/Carousel/AE-GW-PC._UX1500_SX1500_CB528129233_.jpg" alt="Amazon"></a>
        </div>	      
        <div class="item">
	<a  target="_blank" href="http://amzn.to/2dJbLdj">
                <img src="~/Images/Carousel/Category_01-revised._UX1500_SX1500_CB277090537_.jpg" alt="Amazon"></a>
        </div>
        

	
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
