@model IEnumerable<DealDunia.Domain.Entities.DailyDeals>
<link href="~/css/Style.css" rel="stylesheet" />
<div class="row">
    <hr />
    <h4 style="text-align: center; color: #337ab7; font-weight: bold;">DAILY DEALS</h4>
    <hr />
    @foreach (var deal in Model)
    {
        <div class="divBox">
            <a href="@deal.URL"  target="_blank">
                <b>@deal.Title</b>
                <br />
                <img  src="@Url.Content("~/Images/" + deal.Image)" alt="@deal.Title" class="imgDivBox" />
                <br />
            </a>
        </div>
    }
</div>
