@model IEnumerable<DealDunia.Domain.Entities.ExecutiveDeals>

@foreach (var deal in Model)
{
    <div class="panel panel-info">
        <div class="panel-heading">@deal.Description</div>
        <div class="panel-body">
            <a href="@deal.URL" target="_blank">
                <img src="@Url.Content("~/Images/" + deal.Image)"/></a>
        </div>
    </div>
    <br />
}

