@model IEnumerable<DealDunia.Domain.Entities.OfferURL>


<div class="panel panel-info">
    <div class="panel-body">
        <div class="table-responsive">

            @foreach (var offerURL in Model)
            {   
                <div>
                    <a href="@offerURL.offer_url" target="_blank"><b>@offerURL.name</b></a>
                    @*<b>@offerURL.name</b>*@
                </div>
                <br />
            }

        </div>
    </div>
</div>
