@model IEnumerable<DealDunia.Domain.Entities.Store>

<div class="panel panel-default col-md-12">
    <h4>FEATURED STORE</h4>
    <hr />
    <div class="row">
        @foreach (var store in Model)
        {        
            <div class="div_store_logo">
                <a href="@Url.RouteUrl("Store", new { store = store.StoreName })">
                    <img src="@Url.Content("~/Images/" + store.StoreImage)" alt="@store.StoreName" class="store_logo store_logo_center"/>
                </a>
            </div>
        }
    </div>
</div>
