@model IEnumerable<DealDunia.Domain.Entities.Category>

@{
    ViewBag.Title = "BrowseCategory";
}

<h2>BrowseCategory</h2>

<div class="container">
    @if (Convert.ToInt16(ViewBag.ShowBrowse) == 1)
    {
        @Html.Partial("LineItem", Model)
    }
    else if (Convert.ToInt16(ViewBag.ShowBrowse) == 2)
    {
        @Html.Partial("LineItem2", Model)
    }

@*     @if (Convert.ToInt16(ViewBag.ShowBrowse) == 1)
    {
        @Html.Action("SearchResult", "Nav", new { searchtext = ViewContext.RouteData.Values["id1"].ToString() })
    }
    else if (Convert.ToInt16(ViewBag.ShowBrowse) == 2)
    {
        @Html.Action("SearchResult", "Nav", new { searchtext = ViewContext.RouteData.Values["id2"].ToString() })
    }*@
</div>


