@{
    ViewBag.Title = "GrabMeDeal: Deals & Coupon Offers";
    ViewBag.MetaDescription = "Get the latest deals & coupons offers from India’s top online shopping sites like Amazon, Flipkart, Snapdeal, Myntra, eBay, Paytm any many more on GrabMeDeal";
    ViewBag.keywords = "Deals, Offers, Coupons, Daily Offers, Daily Deals, Exclusive Deals, Deals of the day";
}
@*<div class="row box">
    @{Html.RenderPartial("_Carousel");}
</div>*@
<div class="row box">
    <h4><span itemprop="name" class="boxtitle">FEATURED STORES</span></h4>
    @Html.Action("_ShopByStore", "Store")    
</div>
<div class="row">
    <div class="col-lg-9 col-md-9 col-sm-9 col-sx-9 paddingzero">
        <div class="box">
            <h4><span itemprop="name" class="boxtitle">FEATURED DEALS</span></h4>
            <div id="exclusive-deal-container"></div>
            <div id="exclusive-deal-container-loader" style="display: none;">
                <img src="~/Images/loading.gif" />
            </div>
        </div>
        
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-sx-3" style="padding-right: 0px;">
        <div class="box">
            <!-- Javascript Ad Tag: 2114 -->
            <div id="vcm2114EQAhic"></div>
            <script src="http://tracking.vcommission.com/aff_ad?campaign_id=2114&aff_id=46159&format=javascript&format=js&divid=vcm2114EQAhic" type="text/javascript"></script>
            <noscript><iframe src="http://tracking.vcommission.com/aff_ad?campaign_id=2114&aff_id=46159&format=javascript&format=iframe" scrolling="no" frameborder="0" marginheight="0" marginwidth="0" width="300" height="250"></iframe></noscript>
            <!-- // End Ad Tag -->
            <br />
            <!-- Javascript Ad Tag: 2216 -->
            <div id="vcm2216C2SBB3"></div>
            <script src="http://tracking.vcommission.com/aff_ad?campaign_id=2216&aff_id=46159&format=javascript&format=js&divid=vcm2216C2SBB3" type="text/javascript"></script>
            <noscript><iframe src="http://tracking.vcommission.com/aff_ad?campaign_id=2216&aff_id=46159&format=javascript&format=iframe" scrolling="no" frameborder="0" marginheight="0" marginwidth="0" width="300" height="250"></iframe></noscript>
            <!-- // End Ad Tag -->
            <br />
            <div id="fb-root"></div>
            <script>
                        (function (d, s, id) {
                            var js, fjs = d.getElementsByTagName(s)[0];
                            if (d.getElementById(id)) return;
                            js = d.createElement(s); js.id = id;
                            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
                            fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));</script>
            <div class="fb-page" data-href="https://www.facebook.com/GrabMeDeal" data-tabs="timeline" data-width="300" data-height="250" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/GrabMeDeal" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/GrabMeDeal">Grabmedeal</a></blockquote></div>
            
        </div>
    </div>
</div>
<div class="row">
    <div class="box">
        <h4><span itemprop="name" class="boxtitle">DAILY DEALS</span></h4>
        <div id="daily-deal-container">
            @*@Html.Action("_DailyDeals", "Deal")*@
        </div>
    </div>
    @*@Html.Action("_ExclusiveDeals", "Deal")*@
</div>

@*@Html.Action("_ShopByCategory", "Category")*@
<script>
    $(document).ready(function () {
        var settings = {
            EXCLUSIVE_DEAL: '@Url.Action("_ExclusiveDeals", "Deal", new { IsFeatured = true })',
            DAILY_DEAL: '@Url.Action("_DailyDeals", "Deal")'
        };

        $("#exclusive-deal-container-loader").show();
        $.ajax({
            url: settings.EXCLUSIVE_DEAL,
            data: {}
        })
        .done(function (response) {
            $("#exclusive-deal-container-loader").hide();
            $("#exclusive-deal-container").html(response);
        })
        .fail(function (data, status, headers, config) {

        });

        $.ajax({
            url: settings.DAILY_DEAL,
            data: {}
        })
        .done(function (response) {
            $("#daily-deal-container").html(response);
        })
        .fail(function (data, status, headers, config) {

        });
    });
</script>
