@{    
    ViewBag.Title = "GrabMeDeal: Deals & Coupon Offers";
}


@*@{Html.RenderPartial("_Carousel");}*@
<h4>Featured Store</h4>
@Html.Action("_ShopByStore", "Store")
<h4>Exclusive Deals</h4>
@Html.Action("_ExclusiveDeals", "Deal")
<h4>Daily Deals</h4>
@Html.Action("_DailyDeals", "Deal")
@*@Html.Action("_ShopByCategory", "Category")*@

