<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AmazonSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:64131/Amazon.asmx" binding="basicHttpBinding"
                bindingConfiguration="AmazonSoap" contract="DealDuniaServiceReference.AmazonSoap"
                name="AmazonSoap" />
        </client>
    </system.serviceModel>
</configuration>