body {

}

/* Start by setting display:none to make this hidden.
        Then we position it in relation to the viewport window
        with position:fixed. Width, height, top and left speak
        speak for themselves. Background we set to 80% white with
        our animation centered, and no-repeating */
.modaloading {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba( 255, 255, 255, .8 ) url('../../../Images/loading.gif') 50% 50% no-repeat;
}

/* When the body has the loading class, we turn
        the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

    /* Anytime the body has the loading class, our
        modal element will be visible */
    body.loading .modaloading {
        display: block;
    }

.test {
    word-break:break-all!important;
}

.form-group {
    margin-bottom: 5px!important;
}

.panel-body {
    padding: 10px!important;
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 5px;
    /*word-break:break-all;*/
}


.modal-body{
    padding:5px!important;
}