@*@model IEnumerable<DealDunia.Domain.Entities.VCommissionResponse>*@
@model IEnumerable<DealDunia.Domain.Entities.Coupon>

@{
    ViewBag.Title = "Coupons & Offers";
}

<h2>Coupons & Offers</h2>

@Html.Partial("CouponView", Model)
