@model IEnumerable<DealDunia.Domain.Entities.Category>
<style>
    .dropdown-submenu {
        position: relative;
    }

        .dropdown-submenu > .dropdown-menu {
            top: 0;
            left: 100%;
            margin-top: -6px;
            margin-left: -1px;
            -webkit-border-radius: 0 6px 6px 6px;
            -moz-border-radius: 0 6px 6px 6px;
            border-radius: 0 6px 6px 6px;
        }

        .dropdown-submenu:hover > .dropdown-menu {
            display: block;
        }

        .dropdown-submenu > a:after {
            display: block;
            content: " ";
            float: right;
            width: 0;
            height: 0;
            border-color: transparent;
            border-style: solid;
            border-width: 5px 0 5px 5px;
            border-left-color: #cccccc;
            margin-top: 5px;
            margin-right: -10px;
        }

        .dropdown-submenu:hover > a:after {
            border-left-color: #ffffff;
        }

        .dropdown-submenu.pull-left {
            float: none;
        }

            .dropdown-submenu.pull-left > .dropdown-menu {
                left: -100%;
                margin-left: 10px;
                -webkit-border-radius: 6px 0 6px 6px;
                -moz-border-radius: 6px 0 6px 6px;
                border-radius: 6px 0 6px 6px;
            }
</style>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <ul class="nav navbar-nav">
            @foreach (var category in Model.Where(c => c.Level == 1))
            {
                <li class="menu-item dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><strong>@category.CategoryName</strong><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        @foreach (var subcategory in Model.Where(m => m.ParentId == category.CategoryId))
                        {
                            <li class="menu-item dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">@subcategory.CategoryName</a>
                                @if (Model.Where(i => i.ParentId == subcategory.CategoryId).Count() > 0)
                                {
                                    <ul class="dropdown-menu">
                                        @foreach (var inner in Model.Where(i => i.ParentId == subcategory.CategoryId))
                                        {
                                    
                                            <li class="menu-item"><a href="#">@inner.CategoryName</a></li>
                                    
                                        }

                                    </ul>
                                }
                            </li>
                        }
                    </ul>
                </li>
            }
        </ul>
    </div>
</nav>



