@model IEnumerable<DealDunia.Domain.Entities.Store>

<div class="row">
    @foreach (var store in Model)
    {
        <div class="jumbotron col-md-4 col-lg-4 text-center">
            <b>@store.StoreName</b>
        </div>
    }
</div>
