@model IEnumerable<DealDunia.Domain.Entities.Store>
<link href="~/css/style.css" rel="stylesheet" />
<div class="row">
    @foreach (var store in Model)
    {
        
        <div>
            <a href="@Url.RouteUrl("Store", new { store = store.StoreName})">
                <img src="@Url.Content("~/Images/" + store.StoreImage)" alt="@store.StoreName" class="store_logo"/>                
            </a>
        </div>
    }
</div>
