label
{
    width: 125px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    max-height: 10px;
    overflow: hidden;
}

h4
{
    text-align: center;
    color: #337ab7;
    font-weight: bold;
}

.store_logo
{
    max-width: 100px;
    max-height: 50px;
}

.center
{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.div_store_logo
{
    width: 102px;
    height: 52px;
    border: solid 1px;
    margin: 6px;
    border-color: lightgray;
    float: left;
    text-align: center;
}

/*---------------------------- Deal div -------------------------------------------------*/
.divDeal
{
    border: solid 1px;
    color: lightgray;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.divDealImg
{
    margin: 10px;
    height: 50px;
}

.divDealTitle
{
    font-size: 15px;
    margin: 10px;
    height: 60px;
    max-height: 60px;
    overflow: hidden;
}

.divDealCodeOuter
{
    height: 35px;
    width: 200px;
    margin: auto;
    background-color: #bf192a;
    font-weight: bold;
    font-size: 15px;
    vertical-align: middle;
    border: 1px #fff dashed;
    padding-top: 5px;
}

.divDealCodeInner
{
    color: white;
}

.divDealExpiry
{
    display: block;
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 5px;
    font-size: 13px;
    color: gray;
}


/*---------------------------- Produc div -------------------------------------------------*/

.divProStoreImg
{
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 35px;
}

.ProStoreImg
{
    float: right;
    display: block;
    width: auto;
    height: 30px;
}

.divProImg
{
    height: 245px;
    width: 245px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.ProImg
{
    margin: auto;
    display: block;
    position: relative;
    max-width: 245px;
    max-height: 245px;
}

.divProTitle
{
    font-size: 14px;
    max-width: 245px;
    overflow: hidden;
    height: 40px;
    text-align: center;
}

.divProPriceOuter
{
    height: 30px;
    width: 245px;
}

.divProPriceInner
{
    float: left;
    font-size: 13px;
    font-weight: bold;
    max-width: 300px;
}

.scrollToTop {
    width: 100px;
    height: 100px;
    padding: 10px;
    text-align: center;
    /*background: whiteSmoke !important;*/
    font-weight: bold;
    color: #444;
    text-decoration: none;
    position: fixed;
    /*top: 400px;*/
    right: 0px;
    bottom:0px;
    display: none;
    background: url('../Images/Scroll-to-top-button.png') no-repeat 0px 20px;
}

    .scrollToTop:hover {
        text-decoration: none;
    }


.field-validation-error {
    color: #f00;
}

.validation-summary-errors {
    color: #f00;
    font-weight: bold;
}

.input-validation-error {
    border: 2px solid #f00;
    background-color: #fee;
}

input[type="checkbox"].input-validation-error {
    outline: 2px solid #f00;
}

/*.divBox
{
   float:left;
   height:auto;
   width:180px;
   margin:3px;
   text-align:center;
}

.imgDivBox
{
    height:160px;
    width:160px;
}*/
