/*body
{
    margin-top: 125px;
}*/

.paddingzero
{
    padding:0px;
}

.margin5
{
    margin:5px;
}

.margin10
{
    margin:10px;
}

.row
{
    margin-left: 0 !important;
    margin-right: 0 !important;
}

label
{
    width: 200px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    max-height: 10px;
    overflow: hidden;
}

h1, h2, h3, h4
{
    /*text-align: center;*/
    color: #337ab7;    
}

h4
{
    font-weight: bold;
    background-color:#f5f5f5;
    padding:5px;
}

.store_logo
{
    max-width: 98px;
    max-height: 48px;
}

.center
{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.div_store_logo
{
    width: 100px;
    height: 50px;
    border: solid 1px;
    margin: 2px;
    border-color: lightgray;
    float: left;
    text-align: center;
}

.storeTitle
{
    font-size:13px;    
    color:#444;
}

/*---------------------------- Deal div -------------------------------------------------*/
.divDeal
{ 
    border: solid 1px;    
    padding-top: 5px;
    padding:5px;
    margin: 2px;
    text-align: center;
    vertical-align: middle;
    border-color:#eee;
}

/*.divDealImg
{    
    align-content:center;    
}*/

.div50
{
    height:50px;    
}

.Img10050
{       
    max-width: 100px;
    max-height: 50px;
}

/*.dealImg
{    
    max-width: 100px;
    max-height: 50px;
}*/

.divDealTitle
{    
    font-size:13px;
    font-weight:bold;
    margin:2px;    
    padding-bottom:10px;
    height: 75px;
    overflow: hidden;
}

.divDealCodeOuter
{
    height: 35px;
    width: 70%;
    margin: auto;
    background-color: #bf192a;
    font-weight: bold;
    font-size: 15px;
    vertical-align: middle;
    border: 1px #fff dashed;
    padding:5px;
}

.divDealCodeInner
{
    color: white;
    font-size: 14px;
}

.divDealExpiry
{
    display: block;
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 5px;
    font-weight:bold;
    font-size: 12px;
    color: #555;
}

/*---------------------------- Produc div -------------------------------------------------*/

.divProBox
{
    width: 180px;
    height: 335px;
    border: solid 1px;
    color: lightgray;
    padding: 5px;
    margin: 2px;
    text-align: center;
    vertical-align: middle;
    float: left;
}

.divProStoreImg
{
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 35px;
    float: left;
    margin-bottom: 5px;
}

.ProStoreImg
{
    float: right;
    display: block;
    width: auto;
    height: 30px;
}

.divProImg
{
    height: 166px;
    width: 166px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.ProImg
{
    margin: auto;
    display: block;
    position: relative;
    max-width: 166px;
    max-height: 166px;
}

.divProTitle
{
    font-size: 14px;
    max-width: 166px;
    overflow: hidden;
    height: 40px;
    text-align: center;
}

.divProPriceOuter
{
    height: 30px;
    width: 166px;
}

.divProPriceInner
{
    float: left;
    font-size: 13px;
    font-weight: bold;
    max-width: 300px;
}

.scrollToTop
{
    width: 80px;
    height: 100px;
    padding: 10px;
    text-align: center;
    /*background: whiteSmoke !important;*/
    font-weight: bold;
    color: #444;
    text-decoration: none;
    position: fixed;
    /*top: 400px;*/
    right: 0px;
    bottom: 0px;
    display: none;
    background: url('../Images/Scroll-to-top-button.png') no-repeat 0px 20px;
}

    .scrollToTop:hover
    {
        text-decoration: none;
    }

.field-validation-error
{
    color: #f00;
}

.validation-summary-errors
{
    color: #f00;
    font-weight: bold;
}

.input-validation-error
{
    border: 2px solid #f00;
    background-color: #fee;
}

input[type="checkbox"].input-validation-error
{
    outline: 2px solid #f00;
}


/*------------------------------------------------------*/
.search-text
{
    height: 40px;
    border-radius: 0px;
    width: 301px!important;
}

.result-div
{
    position: absolute;
    z-index: 1030;
    width: 100%;
    top: 40px;
    max-height: 340px;
    overflow: scroll;
    overflow-x: hidden;
    width: 340px;    
}

.result-container
{
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    border-bottom: 1px solid #D8E0E2;
    cursor: pointer;
}

    .result-container:hover
    {
        background-color: #E43539;
        color: white;
    }

.result-value
{
    display: inline-block;
    max-width: 230px;
    max-height: 40px;
    overflow: hidden;
}

.result-source
{
    float: right;
    padding-right: 10px;
}
/*----------------------------------------------------------*/

.clear
{
    cursor:pointer;
    float:right;
    color:#555;
}