@*@model IEnumerable<DealDunia.Infrastructure.Abstract.IItemResponse>*@
@{
    ViewBag.Title = "Tags";
}

<h2>@ViewBag.SearchedItem</h2>

<div class="container">
    @Html.Action("SearchResult", "Nav", new { searchtext = ViewBag.SearchedItem })
</div>
