@model IEnumerable<DealDunia.Domain.Entities.DailyDeals>

@{
    ViewBag.Title = "GrabMeDeal: Daily Deals";
}

<div class="row box">
    <h3 style="text-align:center;">DAILY DEALS</h3>
    @Html.Partial("_DailyDeals", Model)
    @Html.Action("_DOTD", "Deal")
</div>