@model IEnumerable<DealDunia.Domain.Entities.ExecutiveDeals>

@{
    ViewBag.Title = "Exclusive Deals";
}

<h2>Exclusive Deals</h2>

<div class="container">

    @Html.Partial("ExclusiveDeal", Model)

</div>
