@model IEnumerable<DealDunia.Domain.Entities.ExecutiveDeals>

@{
    ViewBag.Title = "GrabMeDeal: Exclusive Deals";
}

<script>
    $(document).ready(function () {
        function LoadCoupons() {
            var stores = '';
            $("input[type=checkbox]:checked").each(function () {
                stores += $(this).val() + ",";
            });
            $.ajax({
                url: '@Url.Action("_ExclusiveDeals", "Deal")',
                data: { CategoryId: 0, CategoryName: '', StoreCategoryId: 0, StoreCategoryName: '', StoreId: 0, StoreName: stores }
            }).done(function (data) {
                $("#divExclusive").html(data);
            }).fail(function () {
            });
        }
        $("input[type=checkbox]").click(function () {
            LoadCoupons();
        });

        $("#clearStore").click(function () {
            $("input[type=checkbox][name=chkstore]:checked").each(function () {
                this.checked = false;
            });
            LoadCoupons();
        });
    });
</script>

<div class="row box">
    <div class="container" style="text-align:center;">
        <h3>EXCLUSIVE DEALS</h3>
    </div>
    <div class="col-md-3 col-sm-3 col-sx-3">
        <div class="panel panel-default ">
            <div class="panel-heading">
                <b>Stores</b><div id="clearStore" class="clear">Clear</div>
            </div>
            <div class="checkbox" style="padding-left: 5px;">
                @foreach (var storename in Model.Select(m => m.StoreName).Distinct())
                {
                    <label>
                        <input type="checkbox" value="@storename" name="chkstore"/>@storename</label>
                }
            </div>
        </div>
    </div>
    <div id="divExclusive" class="container col-md-9 col-sm-9 col-sx-9">        
        @Html.Partial("_ExclusiveDeals", Model)
    </div>

</div>
