@model IEnumerable<DealDunia.Domain.Entities.ExecutiveDeals>

@{
    ViewBag.Title = "GrabMeDeal: Exclusive Deals";
}

<script>
    $(document).ready(function () {
        $("input[type=checkbox]").click(function () {
            var stores = '';
            $("input[type=checkbox]:checked").each(function () {
                stores += $(this).val() + ",";
            });

            $.ajax({
                url: '@Url.Action("_ExclusiveDeals", "Deal")',
                data: { CategoryId: 0, CategoryName: '', StoreCategoryId: 0, StoreCategoryName: '', StoreId: 0, StoreName: stores }
            }).done(function (data) {
                $("#divExclusive").html(data);
            }).fail(function () {
            });
        });
    });
</script>
<div class="panel panel-default">
    <h4>STORES</h4>
    <hr />
    <div class="checkbox" style="padding-left: 5px; padding-right: 5px;">
        @foreach (var storename in Model.Select(m => m.StoreName).Distinct())
        {
            <label>
                <input type="checkbox" value="@storename" name="chkstore"/>@storename</label>
        }
    </div>
</div>

<div id="divExclusive">
    @Html.Partial("_ExclusiveDeals", Model)
</div>

